<h1 id="tableLabel">Death Premium Calculator !!!</h1>

<div>
  <div [formGroup]="requiredForm">
    <div class="col-md-12">
      <div class="form-group">
        <label for="name">Name:</label>&nbsp;
        <input type="text" id="name" class="form-control" formControlName="name" [(ngModel)]="name">
        <span class="text-danger" style="color: red" *ngIf="requiredForm.controls['name'].hasError('required') && (requiredForm.controls['name'].dirty || requiredForm.controls['name'].touched)">&nbsp;Name is required !!</span>
        <br>
        <br>
        <label for="age">Date of Birth:</label>
        &nbsp;
        <input type="date" id="dob" class="form-control" formControlName="dob" [(ngModel)]="dob" (change)="CalculateAge()">
        <span class="text-danger" style="color: red" *ngIf="requiredForm.controls['dob'].hasError('required') && (requiredForm.controls['dob'].dirty || requiredForm.controls['dob'].touched)">&nbsp;Date of Birth is required !!</span>
        <br>
        <br>
        <label for="age">Age:</label>
        &nbsp;
        <input type="text" id="age" class="form-control" formControlName="age" [(ngModel)]="age"  readonly>
        <!--<span class="text-danger" style="color: red" *ngIf="requiredForm.controls['age'].hasError('required') && (requiredForm.controls['age'].dirty || requiredForm.controls['age'].touched)">&nbsp;Age is required !!</span>
        <span class="text-danger" style="color: red" *ngIf="requiredForm.controls['age'].errors?.pattern">&nbsp;Only Numbers are allowed !!</span>-->
        <br>
        <br>
        <label for="coveramount">Death – Sum Insured</label>
        &nbsp;
        <input class="form-control" formControlName="coveramount" type="text" [(ngModel)]="coveramount">
        <span class="text-danger" style="color: red" *ngIf="requiredForm.controls['coveramount'].hasError('required') && (requiredForm.controls['coveramount'].dirty || requiredForm.controls['coveramount'].touched)">&nbsp;Death – Sum Insured is required !!</span>
        <span class="text-danger" style="color: red" *ngIf="requiredForm.controls['coveramount'].errors?.pattern">&nbsp;Only Numbers are allowed !!</span>
        <br>
        <br>
        <label for="occupation">Occupation:</label>
        &nbsp;
        <select class="form-control" formControlName="occupation" [(ngModel)]="selectedOccupation" (change)="selected($event)">
          <option>Select Occupation</option>
          <option *ngFor="let occupation of occupations" value={{occupation.rating}}>
            {{occupation.id}}
          </option>
        </select>
        <span class="text-danger" style="color: red" *ngIf="requiredForm.controls['occupation'].hasError('required') && (requiredForm.controls['occupation'].dirty || requiredForm.controls['occupation'].touched)">&nbsp;Select required occupation !!</span>
        &nbsp;
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
  <label><b>DEATH PREMIUM CALCULATED AS :</b></label>
  <label ngDefaultControl  [(ngModel)]="premium" style="color:blue">Rs {{premium}}</label>
</div>

